/* ================ */
/* ==== HEADER ==== */
/* ================ */
.logo{font-size: 5em; color: #2681FB; margin: 30px 0;}
header h1{font-size: 2em; color: #333; text-transform: uppercase; font-weight: 700; padding: 15px; display: block; background: #f5f5f5; border-bottom: 2px #e7e7e7 solid;}